
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
  font-family: "Roboto", sans-serif;
}

header{
  height: 4rem;
}
.title-bar{
  height: 50%;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  
}
.title-img{
  height: 60%;
}
.title{
  font-size: 1rem;
}
.menu-bar{
  height: 50%;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: .5rem;
}

.input-video{
  position: relative;

}
#video-btn:hover{
  border: 1px solid black;
  background-color: lightblue;
  cursor: pointer;
}
#video-file{
  display: none;
}


 /* input[type="file" i]{
  position: absolute;
  background-color: white;
  top: 1.5rem;
  padding: 0px;
 } */

 
.playback-list{
  position: relative;

}

.menu-list{
  position: absolute;
  background-color: white;
  left: 10px;
  top:-1px;
  padding: 0px;
  display: none;
}

.playback-list:hover{
  background-color: lightblue;
}
  .playback-list:hover .menu-list{
  display: block;
}  
#VolumeUP:hover{
  background: lightblue;

}

main{
  margin-top: 0px;
  height: calc(100vh - 8rem);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video{
 height: 100%;
}

footer{
  height: 4rem;
  background-color: gray;
  position: relative;
}

#icons{
  display: flex;
  gap: 3rem;
  position:absolute;
  top: 20px;
  left: 40px;
  font-size: 1.5rem;
}
#pause{
  display: none;
}

#icons > *{
  cursor: pointer;
}
#volume{
  margin-right: 3rem;
}